<a href="https://colab.research.google.com/github/Washk/PWA/blob/main/Assignment_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment on Data Structures in Python:

In [ ]:
# 1. Write a code to reverse a string.
str=input("Enter a string to reverse it:")
rev=str[::-1]
print("Reversed string is:",rev)

Enter a string to reverse it:Python
Reversed string is: nohtyP

In [ ]:
# 2. Write a code to count the number of vowels in a string.
str=input("Enter the sting:")
count=0
for letter in str:
  if(letter=="A" or letter=="E" or letter=="I" or letter=="O" or letter=="U" or letter=="a" or letter=="e" or letter=="i" or letter=="o" or letter=="u"):
    count=count+1
if count!=0:
  print(f"No.of vowels in {str} are {count}")
else:
  print(f"No.of vowels in {str} is {count}")

Enter the sting:tyrwys
No.of vowels in tyrwys is 0

In [ ]:
# 3. Write a code to check if a given string is a palindrome or not
str=input("Enter the string:")
if str.lower()==str[::-1].lower():
  print(f"Yes,the given string {str} is a Palindrome.")
else:
  print(f"No,the given string {str} is not a Palindrome.")

Enter the string:pwskills
No,the given string pwskills is not a Palindrome.

In [ ]:
# 4. Write a code to check if two strings are anagrams of each other.
str1=input("Enter the first string:")
str2=input("Entre the second string:")
list1=list(str1)
list2=list(str2)
list1.sort()
list2.sort()
if list1==list2:
  print(f"{str1} and {str2} are anagrams of each other.")
else:
  print(f"{str1} and {str2} are not anagrams of each other.")

Enter the first string:wow
Entre the second string:woo
wow and woo are not anagrams of each other.

In [ ]:
# 5. Write a code to find all occurrences of a given substring within another string.
string=input("Enter a String:")
substring=input("Enter a substring to find it's occurrences in the String:")
count=string.count(substring,0,len(string))
if count>0:
  print(f"No of. occurrences of {substring} in the {string} are {count}")
else:
  print(f"No of. occurrences of {substring} in the {string} is {count}")

Enter a String:Na rahoon tou loi gum nhi
Enter a substring to find it's occurrences in the String:khushi
No of. occurrences of khushi in the Na rahoon tou loi gum nhi is 0

In [ ]:
# 6. Write a code to perform basic string compression using the counts of repeated characters.
string=input("Enter the string:")
i=0
comp_str=""
while i in range(len(string)):
  if string.count(string[i],i,len(string))>1:
    comp_str+=""
  else:
    comp_str=comp_str+string[i]
  i=i+1
print(f"compressed string is: {comp_str}")

Enter the string:Yipppeeeeee hurrayyyyy!!!
compressed string is: Yipe huray!

In [ ]:
# 7. Write a code to determine if a string has all unique characters.
str1=input("Enter the string:")
flag=1
i=0
while i in range(len(str1)):
  if str1.count(str1[i],i,len(str1))>1:
    flag=0
    break
  i=i+1

if flag==1:
  print(f"{str1} has all unique characters.")
else:
  print(f"{str1} has no unique characters.")

Enter the string:Computer
Computer has all unique characters.

In [ ]:
# 8. Write a code to convert a given string to uppercase or lowercase.
str2=input("Enter the string:")
print(str2.upper())
print(str2.lower())

Enter the string:Computer
COMPUTER
computer

In [ ]:
# 9. Write a code to count the number of words in a string
str1=input("Enter a string:")
count=0
for word in str1:
  if word!=" ":
    count+=1
if count>1:
  print(f"No. of words in {str1} are {count}")
else:
  print(f"No. of words in {str1} is {count}")

Enter a string:i
No. of words in i is 1

In [8]:
# 10. Write a code to concatenate two strings without using the + operator
str1="Google"
str2="Colab"
print(f"{str1}{str2}")

GoogleColab

In [ ]:
# 11. Write a code to remove all occurrences of a specific element from a list.
item=input("Enter an element to remove all the occurrences from the list: ")
list1=["mango","chef",23,45,"mango",67.69,True,"mango"]
newlist=[i for i in list1 if i!=item]
print(newlist)

Enter an element to remove all the occurrences from the list: mango
['chef', 23, 45, 67.69, True]

In [ ]:
# 12. Implement a code to find the second largest number in a given list of integers.
list2=[23,89,5,67,78,100,4]
list2.sort(reverse=True)
print(f"The second largest number in the list is :{list2[1]}")

The second largest number in the list is :89

In [ ]:
# 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.
list3=[4,5,6,7,7,7,4,5,5]
#list3.sort()
dic={}
for i in list3:
  count=list3.count(i)
  dic[i]=count

print(dic)

{4: 2, 5: 3, 6: 1, 7: 3}

In [ ]:
# 14. Write a code to reverse a list in-place without using any in built reverse function.
list1=[2,13,56,7,"reverse","list",5]
revrse_list=list1[::-1]
print(f"The reversed list is {revrse_list}")

The reversed list is [5, 'list', 'reverse', 7, 56, 13, 2]

In [ ]:
# 15. Implement a code to find and remove duplictes from a list while preserving the original order of elements.
list_num=[14,23,5,14,6,3,6,45]
newlist=[]
for i in list_num:
  count=list_num.count(i)
  if count!=2:
    newlist.append(i)

print(newlist)

[23, 5, 3, 45]

In [ ]:
# 16. Create a code to check if a given list is sorted(either in ascending or descending order) or not.
l1=[44,35,22,19,444]
def check_sorted(l):
  if l==sorted(l) or l==sorted(l,reverse=True):
    return True
  else:
    return False

ans=check_sorted(l1)
print(ans)

False

In [ ]:
# 17. Write a code to merge two sorted lists into a single sorted list.
list1=[2,3,4,5,6]
list2=[13,11,7,5]
list3=sorted(list1+list2)
print(list3)

[2, 3, 4, 5, 5, 6, 7, 11, 13]

In [ ]:
# 18. Implement a code to find the intersection of two given lists.
lst1=[23,45,2.45,"common",45]
lst2=["common",34,5.78,45]
common_lst=list(set(lst1).intersection(set(lst2)))
print(common_lst)

['common', 45]

In [ ]:
# 19. Create a code to find the union of two lists without duplicates.
list1=[23,45,67,"pw"]
list2=[4,23,67,"skills",18]
comb_list=list(set(list1).union(set(list2)))
print(comb_list)

[67, 'pw', 4, 45, 18, 'skills', 23]

In [ ]:
# 20. Write a code to shuffle a given list randomely without using any built in shuffle function.
lst=[23,45,78,11,51]
random_lst=set(lst)
print(random_lst)

{11, 45, 78, 51, 23}

In [ ]:
# 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.
def find_common(t1,t2):
  s1,s2=set(t1),set(t2)
  common_element=s1.intersection(s2)
  return tuple(common_element)
tup1=(2,4,5,6)
tup2=(3,5,6,9,10)
ans=find_common(tup1,tup2)
print(ans)

(5, 6)

In [ ]:
# 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
set1=set(input("Enter the numbers of set1 separated by commas:").split(","))
set2=set(input("Enter the numbers of set2 separated by commas:").split(","))
intersection_ele=set1.intersection(set2)
print(intersection_ele)

Enter the numbers of set1 separated by commas:2,4,6,7,8
Enter the numbers of set2 separated by commas:4,6,5,8,9,10
{'4', '6', '8'}

In [ ]:
# 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
def concatenate_2_tuples(tup1,tup2):
  return(tup1+tup2)
t1=(12,24,36,48,60)
t2=("happy","sad","4","4.5")
print(concatenate_2_tuples(t1,t2))

(12, 24, 36, 48, 60, 'happy', 'sad', '4', '4.5')

In [ ]:
# 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.
s1=set(input("Enter the string elements of set1:").split(" "))
s2=set(input("Enter the string elements of set2:").split(" "))
print(s1.difference(s2))

Enter the string elements of set1:I love panipuri
Enter the string elements of set2:I love chat
{'panipuri'}

In [ ]:
# 27. Create a code that takes a tuple and two integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.
def find_min_max(input_tuple, a, b):
    # Unpacking the tuple
    *_, min_value, max_value = sorted(input_tuple[a:b])

    return min_value, max_value

# Example usage
input_tuple = tuple(map(int,input("Enter the tuple elements (separated by spaces): ").split(" ")))
a = int(input("Enter the first integer (start index): "))
b = int(input("Enter the second integer (end index): "))

# Find and print the min and max values
min_val, max_val = find_min_max(input_tuple, a, b)
print(f"Minimum value: {min_val}, Maximum value: {max_val}")

Enter the tuple elements (separated by spaces): 5 2 9 4 7 6
Enter the first integer (start index): 1
Enter the second integer (end index): 5
Minimum value: 7, Maximum value: 9

In [ ]:
# 26. Write a code that prompts the user to input two sets of characters. Then, print the union pf these two sets
set1=set(input("Enter the character elements for set1 separated by commas:").split(","))
set2=set(input("Enter the character elements for set2 separated by commas:").split(","))
print(set1.union(set2))

Enter the character elements for set1 separated by commas:a,e,i,o,u
Enter the character elements for set2 separated by commas:v,o,w,e,l
{'i', 'u', 'o', 'l', 'w', 'v', 'e', 'a'}

In [ ]:
# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple wihtin the specified range of indices.
def slicing_of_tuple(t,r1,r2):
  return t[r1:r2]
tup,rng1,rng2=tuple(input("Enter the elements of a tuple separated by spaces:").split()),int(input("Enter the starting index for slicing:")),int(input("Enter the ending index for slicing:"))
newtuple=slicing_of_tuple(tup,rng1,rng2)
print(newtuple)

Enter the elements of a tuple separated by spaces:2 3 4 11 7 8 0 9 1
Enter the starting index for slicing:2
Enter the ending index for slicing:8
('4', '11', '7', '8', '0', '9')

In [ ]:
# 28. Create a code that defines two sets of integers. Then, print the union,intersection, and difference of these two sets.
s1=set(input("Enter the character elements for set1 separated by commas:").split(","))
s2=set(input("Enter the character elements for set2 separated by commas:").split(","))
union_set=s1.union(s2)
intersection_set=s1.intersection(s2)
difference_set=s1.difference(s2)
print(f"Union:{union_set}\nIntersection:{intersection_set}\nDifference:{difference_set}")

Enter the character elements for set1 separated by commas:2,5,6,7,8,11,13
Enter the character elements for set2 separated by commas:3,5,11,18,24,55
Union:{'18', '13', '8', '7', '6', '55', '2', '24', '5', '3', '11'}
Intersection:{'5', '11'}
Difference:{'13', '8', '7', '6', '2'}

In [ ]:
# 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.
def count_element(t,item):
  return t.count(item)
tup,element=tuple(input("Enter the elements of a tuple separated by spaces:").split()),input("Enter an element of given tuple to count it's occurrences:")
count=count_element(tup,element)
print(count)

Enter the elements of a tuple separated by spaces:2 1 4 1 6 23 1 11 1
Enter an element of given tuple to count it's occurrences:1
4

In [ ]:
# 30. Develop a code that prompts the user to input two sets of string. Then, print the symmetric difference of these two sets.
s1=set(input("Enter the string elements for set1 separated by commas:").split(","))
s2=set(input("Enter the string elements for set2 separated by commas:").split(","))
print(f"The symmetric difference of these two sets of string is:{s1.symmetric_difference(s2)}")

Enter the string elements for set1 separated by commas:one,two,three,four,five
Enter the string elements for set2 separated by commas:three,five,seven,nine,eleven
The symmetric difference of these two sets of string is:{'nine', 'two', 'one', 'eleven', 'four', 'seven'}

In [ ]:
# 31. Write a code that takes a list of words as input and return a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
def freq_words_list(lst):
  dic={}
  for word in lst:
    count=lst.count(word)
    dic[word]=count
  return dic
l=list(input("Enter the list of words:").upper().split())
ans=freq_words_list(l)
print(ans)

Enter the list of words:G o o g l e c o l a b
{'G': 2, 'O': 3, 'L': 2, 'E': 1, 'C': 1, 'A': 1, 'B': 1}

In [ ]:
# 32. Write a code that takes two dictioinaries as input and merge them into a single dictionary. If there are common keys, the values should be added together.
def input_dict():
  n=int(input("Enter the no. of key-value pairs:"))
  result={}
  for i in range(n):
    key=input("Enter key:").lower()
    value=input("Enter value:")
    if value.isdigit():
      value=int(value)
      result[key]=value
  return result
def merge_dict(dict1,dict2):
  merged=dict1.copy()
  for key,value in dict2.items():
    if key in merged:
      merged[key]=merged[key]+value
    else:
      merged[key]=value
  return merged
dict1=input_dict()
dict2=input_dict()
merged_dict=merge_dict(dict1,dict2)
print(merged_dict)

Enter the no. of key-value pairs:3
Enter key:apple
Enter value:2
Enter key:banana
Enter value:1
Enter key:guava
Enter value:3
Enter the no. of key-value pairs:2
Enter key:Apple
Enter value:3
Enter key:potato
Enter value:5
{'apple': 5, 'banana': 1, 'guava': 3, 'potato': 5}

In [5]:
# 33.
from functools import reduce

def get_value_from_dict(data_dict, keys):
    try:
        return reduce(lambda d, k: d[k], keys,data_dict)
    except KeyError:
        return None

# Example Usage
nested_dict = {"user": {"profile": {"name": "Alice", "age": 30}}}

print(get_value_from_dict(nested_dict, ["user", "profile", "name"]))  # Output: Alice
print(get_value_from_dict(nested_dict, ["user", "profile", "address"]))  # Output: None

Alice
None

In [6]:
# 34.
def sort_dict_by_value(input_dict, ascending=True):
    """
    Sort a dictionary by its values.

    Parameters:
    input_dict (dict): The dictionary to sort.
    ascending (bool): If True, sort in ascending order; if False, sort in descending order.

    Returns:
    dict: A new dictionary sorted by values.
    """
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict

# Example usage
example_dict = {'a': 3, 'b': 1, 'c': 2}
sorted_asc = sort_dict_by_value(example_dict, ascending=True)
sorted_desc = sort_dict_by_value(example_dict, ascending=False)

print("Sorted in ascending order:", sorted_asc)
print("Sorted in descending order:", sorted_desc)

Sorted in ascending order: {'b': 1, 'c': 2, 'a': 3}
Sorted in descending order: {'a': 3, 'c': 2, 'b': 1}

In [7]:
# 35.
def create_inverted_dictionary(data):
    """
    Create an inverted dictionary from the given data.

    Parameters:
        data (dict): A dictionary where keys are unique items and values are associated attributes.

    Returns:
        dict: An inverted dictionary where each attribute maps to a list of keys that have that attribute.
    """
    inverted_dict = {}

    for key, value in data.items():
        # If the value is already in the inverted dictionary, append the key to the list.
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            # Otherwise, create a new entry with the value as the key and the key as the first item in the list.
            inverted_dict[value] = [key]

    return inverted_dict

# Example usage:
data = {
    'item1': 'A',
    'item2': 'B',
    'item3': 'A',
    'item4': 'C',
    'item5': 'B'
}

inverted_dict = create_inverted_dictionary(data)
print(inverted_dict)

{'A': ['item1', 'item3'], 'B': ['item2', 'item5'], 'C': ['item4']}