<a href="https://colab.research.google.com/github/Washk/PWA/blob/main/Functions_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.
def sum_of_list(l):
  sum=0
  for item in l:
    if item%2==0:
      sum+=item
  return sum
list1=[2,5,4,6,7,9]
sum=sum_of_list(list1)
print(sum)

12

In [ ]:
# 2. Create a Python function that accept a string and returns the reverse of that string.
def reverse_of_string(str):
  return str[::-1]
string=input("Enter the string to reverse it:")
res=reverse_of_string(string)
print(res)

Enter the string to reverse it:Apple
elppA

In [ ]:
# 3. Implement a Python function that takes a list of integers and returns a new list containing the square of each number.
def square_of_list(l1):
  return [x*x for x in l1]
lt=[2,3,4,6]
res=square_of_list(lt)
print(res)

[4, 9, 16, 36]

In [ ]:
# 4. Write a Python function that checks if a given number is prime or not from 1 to 200
def check_prime(num):
  count=0
  for i in range(1,num+1):
    if num%i==0:
      count+=1
  if count==2:
    return True

for i in range(1,201):
  res=check_prime(i)
  if res==True:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
# 5. Create an iterator class in Python that generates the Fibonacci series up to a specified number of terms.
class Fibo_iterator:

  def fibo(n):

    a=0
    b=1
    for i in range(n):
      yield a
      b,a=a+b,b
  res=fibo(10)
  for i in range(10):
    print(next(res),end=",")

0,1,1,2,3,5,8,13,21,34,

In [ ]:
# 6. Write a generator function in Python that yields the power of 2 up to a given exponent.
def power_generator(exp):
  yield 2**exp
res=power_generator(100)
print(next(res))

1267650600228229401496703205376

In [4]:
# 7. Implement a generator function that reads a file line by line and yields each line as a string.
def read_file_line_by_line(file_path):
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

In [ ]:
# 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
l=[(2,33,4,5),(2,4,5),(14,13,12,18)]
res=sorted(l,key= lambda l: l[1])
print(res)

[(2, 4, 5), (14, 13, 12, 18), (2, 33, 4, 5)]

In [ ]:

# 9. Write a Python program that uses map() to convert a list of temperatures from celcius to Fahrenheit.
l=[33,45,25,56,78,89]
res1= lambda deg : (9/5*deg)+32
list(map(res1,l))

[91.4, 113.0, 77.0, 132.8, 172.4, 192.20000000000002]

In [ ]:
# 10. Create a Python program that uses filter() to remove all the vowels from a given string.
string=input("Enter a string:")
print(list(filter(lambda ch : ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U" or ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u",string)))
print(string)

Enter a string:Love is blind
['o', 'e', 'i', 'i']
Love is blind

In [ ]:
# 11.

orders=[[34587, 4, 40.95],
    [98762, 5, 56.80],
    [77226, 3, 32.95],
    [88112, 3, 24.99]
]

result = list(map(lambda order: (order[0], order[1] * order[2] + (10 if order[1] * order[2] < 100 else 0)), orders))

# Output the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]